/.paket
Aardvark.log
Aardium/.env
**/.DS_Store
**/.ionide/
Aardium/node_modules
Aardium/dist
Aardium/yarn-error.log
/.paket/Paket.Restore.targets
/.paket/paket.exe
packages
paket-files
.fake
**/.vs
**/obj/
bin/*
!bin/*.template
/node_modules/.yarn-integrity
**/.idea