framework: auto-detect
source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core                           >= 8.0.0 lowest_matching:true
nuget Newtonsoft.Json                       >= 13.0.0 lowest_matching:true
nuget FSys                                  ~> 0.0.1
nuget Aardvark.Build                        ~> 1.0.24
nuget Aardvark.Base                         ~> 5.3.0
nuget Aardvark.Base.Tensors                 ~> 5.3.0