framework: auto-detect
source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core                           >= 8.0.0 lowest_matching:true
nuget Newtonsoft.Json                       >= 13.0.3 lowest_matching:true
nuget FSys                                  ~> 0.0.1
nuget Aardvark.Build                        ~> 2.0.7
nuget Aardvark.Base                         ~> 5.3.23
nuget Aardvark.Base.Tensors                 ~> 5.3.23

// Demo
nuget Aardvark.PixImage.ImageSharp          ~> 3.0.2

nuget Expecto                               ~> 10.2.3
nuget Expecto.FsCheck                       ~> 10.2.3
nuget YoloDev.Expecto.TestSdk               ~> 0.15.6
nuget Microsoft.NET.Test.Sdk                ~> 18.6.0